PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://username:password@localhost:5432/mandi_mitra

FRONTEND_URL=http://localhost:5173

JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

SCRAPER_CRON=0 */6 * * *

AGMARK_BASE_URL=https://api.data.gov.in/resource
AGMARK_RESOURCE_ID=35985678-0d79-46b4-9ed6-6f13308a1d24
AGMARK_API_KEY=your_agmark_api_key_here
